{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block content %}
    <h1>My account</h1>

    Welcome <em>{{ app.user.firstname }}</em> in you account !

    <hr>
    <a href="{{ path('account_password') }}">- Modify password </a><br />
    <a href="{{ path('account_address') }}">- Manage your addresses</a><br/>
    - My order <br/>
    <hr>

{% endblock %}
